*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-main-bg-light: #EEE;
    --clr-main-light: #FFF;
    --clr-accent-main-light: rgb(236, 178, 17);
    --clr-accent-secondary-light: rgb(0, 119, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dashboard-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
}

#header {
    background-color: var(--clr-main-light);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 8px;
    align-items: center;
}

#search {
    height: 2rem;
    outline: none;
    border: none;
    background: var(--clr-main-bg-light);
    border-radius: 2rem;
}

nav {
    background-color: var(--clr-accent-main-light);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    
}


h2,
nav > ul {
    padding: 2rem;
    font-size: 1.25rem;
    color: #FFFEEE;
    font-weight: bold;
}

h2 {
    font-size: 1.75rem;
    display: inline;
    padding-left: 10px;
    
}

#logo {
    display: flex;
    padding-left: 10px;
}

nav > ul > li {
    list-style-type: none;
}

main {
    background-color: var(--clr-main-bg-light);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;

    
}

#main-container {
    grid-area: 1 / 1 / 3 / 2 ;
    padding: 10px;
}

#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    border-radius: 5px;
    border-left: 5px solid var(--clr-accent-secondary-light);
    height: 200px;
    background-color: var(--clr-main-light);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 8px;
    padding: 10px;


}

h3 {
    padding-top: 0px;
    margin-bottom: 15px;
}

p {
    padding-top: 10px;
    color: EEE;
}

#announcement-container,
#trending-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.announcement-item,
.trending-user {
    background-color: var(--clr-main-light);
    padding: 20px 20px;
    flex: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 8px;
}

.announcement-item > p {
    padding-bottom: 40px;
    border-bottom: 2px solid lightgrey; 
}

.announcement-item:last-child > p {
    border-bottom: none;
    padding: 0px;
}

#trending-container {
 
}

.trending-user {

}
